info/*.csv
**/.DS_Store
tests/.DS_Store
/priceVolData/
/venv/
/tests/.hypothesis/
/tests/.pytest_cache/
/.hypothesis/
/.ipynb_checkpoints/
/.pytest_cache/
__pycache__/
/pypoanal/.ipynb_checkpoints
.idea
.ipynb_checkpoints
poetry.lock